<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<%- partial('partials/head') %>
</head>
<body>
    <%- partial('partials/header') %>

    <section id="main"><%- body %></section>

    <%- partial('partials/footer') %>

    <%- partial('partials/scripts') %>
</body>
</html>
